body {
    margin: 0;
    padding: 0;
    background: rgb(165, 156, 156);
}

#calculadora {
    background: rgb(101, 161, 146);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(182, 106, 106);
    position: absolute;
    left: 40%;
    top: 10%;
    text-align: center;
}
#calculadora input {
    background: rgb(63, 73, 69);
    color: rgb(238, 255, 0);
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
#calculadora button {
    background: rgb(170, 57, 76);
    color: white;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}
#calculadora button:hover{
    background: rgb(217, 165, 233);
    color: rgb(19, 1, 1);
    cursor: pointer;
}
#spTotal {
    background: black;
    color: yellow;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.spLista {
    background: rgb(167, 235, 240);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    width: 200px;
    border-color: rgb(111, 34, 146);
    border-width: 2px;
    border-style: dotted;
    margin-top: 10px;
    text-align: left;
}
.calcF {
    display: none;
}
#calcFin:checked + #calculadora .calcF {
    display: block;
}
#calcFin {
    display: none;
}